*.gv
local_docs/
# local build output
hsrb_ws/devel
hsrb_ws/build
hsrb_ws/logs
hsrb_ws/.catkin_tools
# official repos
hsrb_samples
hsrb_moveit
hsrb_rosnav
# symbolic links
hsrb_ws/src/_*
# MoveIt utils
hsrb_ws/src/geometric_shapes/
hsrb_ws/src/moveit_utils

# Just in case
hsrb_ws/src/hsrb_*_devel
hsrb_ws/src/moveit*