*.gv
local_docs/
# local build output
hsrb_ws/devel
hsrb_ws/build
hsrb_ws/logs
hsrb_ws/.catkin_tools
# official repos
hsrb_samples
hsrb_moveit
hsrb_rosnav
# symbolic links
hsrb_ws/src/_*
# MoveIt utils
hsrb_ws/src/geometric_shapes/
hsrb_ws/src/moveit_utils
# reference from previous semester
ref/
# hand detection model
hsrb_ws/src/hand_detection/models/cross*
tree.txt

# Just in case
hsrb_ws/src/hsrb_*_devel
hsrb_ws/src/moveit*hsrb_ws/=1.21.6
hsrb_ws/=3.20.2
hsrb_ws/=1.21.6

ckpt/

.DS_Store
