<launch>
  <!-- Laser scan matcher node -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher" output="screen">
    <param name="fixed_frame" value="map"/>
    <param name="base_frame" value="base_link"/>
    <param name="max_correspondence_dist" value="0.2"/>
    <param name="max_iterations" value="10"/>
    <param name="scan_topic" value="/hsrb/base_scan"/>
    <remap from="odom" to="/odom_combined"/>
  </node>
</launch>
