<launch>
    <!-- Launch the SLAM node -->
    <include file="$(find hsrb_navigation)/launch/slam_gmapping.launch"/>
    
    <!-- Launch the move in square node -->
    <node name="move_in_square" pkg="hsrb_navigation" type="move_in_square.py" output="screen"/>
    
    <!-- Launch the map monitor node -->
    <node name="map_monitor" pkg="hsrb_navigation" type="map_monitor.py" output="screen"/>
    
    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hsrb_navigation)/rviz/mapping.rviz" />
</launch>

