<launch>
    <!-- Including tracker.launch from ultralytics_ros package -->
    <include file="$(find ultralytics_ros)/launch/tracker.launch">
        <!-- Pass the input_topic argument -->
        <arg name="input_topic" value="/hsrb/head_rgbd_sensor/rgb/image_raw" />
        <arg name="debug" value="false"/>
        <arg name="iou_thres" value="0.8"/>
    </include>
</launch>
